header{
    background-color: #FECE00;

    .logo{
      margin-left: 35%;
    }
}

.country-section{
    position: relative;
    .country-container{
        display: flex;
        align-items: center;
        position: absolute;
        left: 35%;
        top: 3rem;

        h1{
            color:#FECE00 ;
        }

        button{
            font-size: 75%;
            padding: 5px;
            color: #fff;
            background-color: #FECE00;
            border-color:#FECE00;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
i{
                color: #fff;
            }
        }

        img{
            height: 50px;
            width: 50px;
        }
    }

    .country-lists{
        z-index: 10000;
        background:linear-gradient(rgba(0, 0, 0, 0.521));
        overflow-y: scroll;
        visibility: hidden;
        width: 20%;
        height: 50vh;
        position: absolute;
        left:45.5% ;
        top: 6.5rem;
        .search-text{
            width: 80%;
        }

        ul{
            list-style: none;
        }

        .close{
            float: right;
            font-size: 150%;
            cursor: pointer;
            color: #fff;
        }

        .lists{
            display: flex;
            margin-left: 10px;
            margin-top: 10px;
            a{color: #fff;
                text-decoration: none;

                h6{
                    margin: 10px;
                }
            }
        }
    }
    
}

.country-results{
    .country-results-container{
        display: flex;
        position: absolute;
        left: 27%;
        transform: translateY(205%);
        -webkit-transform: translateY(205%);
        -moz-transform: translateY(205%);
        -ms-transform: translateY(205%);
        -o-transform: translateY(205%);
      
        .box-1{
            background-color: #FECE00;
            color: #7C83FD;
            height: 15vh;
            width: 15vw;
            position: relative;
            right: 60px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
    h6{
                margin-left: 10px;
            }
            h2{
                text-align: center;
                margin-top: 15px;
            }

            h3{
                text-align: right;
                margin-right: 10px;
            }
        }

        .box-2{
            background-color: #FECE00;
            color: #008000;
            height: 15vh;
            width: 15vw;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            h6{
                margin-left: 10px;
            }
            h2{
                text-align: center;
                margin-top: 15px;
            }

            h3{
                text-align: right;
                margin-right: 10px;
            }
        }

        .box-3{
            background-color: #FECE00;
            color: #FF0000;
            height: 15vh;
            width: 15vw;
            margin-left: 60px;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
            h6{
                margin-left: 10px;
            }
            h2{
                text-align: center;
                margin-top: 15px;
            }

            h3{
                text-align: right;
                margin-right: 10px;
            }
        }
    }
}

.chart{
  
    .chart-result{
    transform: translate(20%,100%);
    -webkit-transform: translate(20%,100%);
    -moz-transform: translate(20%,100%);
    -ms-transform: translate(20%,100%);
    -o-transform: translate(20%,100%);

   
}
}