header {
  background-color: #FECE00;
}

header .logo {
  margin-left: 35%;
}

.country-section {
  position: relative;
}

.country-section .country-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 35%;
  top: 3rem;
}

.country-section .country-container h1 {
  color: #FECE00;
}

.country-section .country-container button {
  font-size: 75%;
  padding: 5px;
  color: #fff;
  background-color: #FECE00;
  border-color: #FECE00;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.country-section .country-container button i {
  color: #fff;
}

.country-section .country-container img {
  height: 50px;
  width: 50px;
}

.country-section .country-lists {
  z-index: 10000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.521)));
  background: linear-gradient(rgba(0, 0, 0, 0.521));
  overflow-y: scroll;
  visibility: hidden;
  width: 20%;
  height: 50vh;
  position: absolute;
  left: 45.5%;
  top: 6.5rem;
}

.country-section .country-lists .search-text {
  width: 80%;
}

.country-section .country-lists ul {
  list-style: none;
}

.country-section .country-lists .close {
  float: right;
  font-size: 150%;
  cursor: pointer;
  color: #fff;
}

.country-section .country-lists .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
}

.country-section .country-lists .lists a {
  color: #fff;
  text-decoration: none;
}

.country-section .country-lists .lists a h6 {
  margin: 10px;
}

.country-results .country-results-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 27%;
  transform: translateY(205%);
  -webkit-transform: translateY(205%);
  -moz-transform: translateY(205%);
  -ms-transform: translateY(205%);
  -o-transform: translateY(205%);
}

.country-results .country-results-container .box-1 {
  background-color: #FECE00;
  color: #7C83FD;
  height: 15vh;
  width: 15vw;
  position: relative;
  right: 60px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.country-results .country-results-container .box-1 h6 {
  margin-left: 10px;
}

.country-results .country-results-container .box-1 h2 {
  text-align: center;
  margin-top: 15px;
}

.country-results .country-results-container .box-1 h3 {
  text-align: right;
  margin-right: 10px;
}

.country-results .country-results-container .box-2 {
  background-color: #FECE00;
  color: #008000;
  height: 15vh;
  width: 15vw;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.country-results .country-results-container .box-2 h6 {
  margin-left: 10px;
}

.country-results .country-results-container .box-2 h2 {
  text-align: center;
  margin-top: 15px;
}

.country-results .country-results-container .box-2 h3 {
  text-align: right;
  margin-right: 10px;
}

.country-results .country-results-container .box-3 {
  background-color: #FECE00;
  color: #FF0000;
  height: 15vh;
  width: 15vw;
  margin-left: 60px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.country-results .country-results-container .box-3 h6 {
  margin-left: 10px;
}

.country-results .country-results-container .box-3 h2 {
  text-align: center;
  margin-top: 15px;
}

.country-results .country-results-container .box-3 h3 {
  text-align: right;
  margin-right: 10px;
}

.chart .chart-result {
  transform: translate(20%, 100%);
  -webkit-transform: translate(20%, 100%);
  -moz-transform: translate(20%, 100%);
  -ms-transform: translate(20%, 100%);
  -o-transform: translate(20%, 100%);
}

@media only screen and (max-width: 600px) {
  header {
    background-color: #FECE00;
  }
  header .logo {
    margin-left: 28%;
    width: 50%;
  }
  .country-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 38% !important;
  }
  .country-lists {
    width: 50vw !important;
  }
  .country-lists .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .country-results-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 100%;
    left: 30% !important;
  }
  .country-results-container .box-1 {
    position: unset !important;
    width: 50vw !important;
    margin-bottom: 20px;
  }
  .country-results-container .box-2 {
    width: 50vw !important;
    margin-bottom: 20px;
  }
  .country-results-container .box-3 {
    margin-left: 0 !important;
    width: 50vw !important;
  }
  .chart {
    width: 95vw !important;
    height: 70vh !important;
  }
  .chart .chart-result {
    transform: translate(0%, 40rem);
    -webkit-transform: translate(0%, 40rem);
    -moz-transform: translate(0%, 40rem);
    -ms-transform: translate(0%, 40rem);
    -o-transform: translate(0%, 40rem);
    font-size: 50%;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  header {
    background-color: #FECE00;
  }
  header .logo {
    margin-left: 28%;
    width: 50%;
  }
  .country-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 45% !important;
  }
  .country-lists {
    width: 50vw !important;
  }
  .country-lists .lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .country-results-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 100%;
    left: 30% !important;
  }
  .country-results-container .box-1 {
    position: unset !important;
    width: 50vw !important;
    margin-bottom: 20px;
  }
  .country-results-container .box-2 {
    width: 50vw !important;
    margin-bottom: 20px;
  }
  .country-results-container .box-3 {
    margin-left: 0 !important;
    width: 50vw !important;
  }
  .chart {
    width: 95vw !important;
    height: 70vh !important;
  }
  .chart .chart-result {
    transform: translate(0%, 40rem);
    -webkit-transform: translate(0%, 40rem);
    -moz-transform: translate(0%, 40rem);
    -ms-transform: translate(0%, 40rem);
    -o-transform: translate(0%, 40rem);
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 20px;
  text-rendering: optimizeLegibility;
  font-family: 'Oswald', sans-serif;
}

.row {
  margin: auto;
  width: 1140px;
}
/*# sourceMappingURL=style.css.map */